.custom-input,
.custom-textarea {
  position: relative;
  display: flex;
  padding-bottom: 20px;

  @include vp-1199 {
    padding-bottom: 10px;
  }

  @include vp-767 {
    padding-bottom: 9px;
  }

  label {
    display: flex;
    align-items: center;
    width: 100%;

    input,
    textarea {
      flex-grow: 1;
      width: 360px;
      min-height: 56px;
      margin-left: auto;
      padding: 18px 30px;

      border: 1px solid transparent;
      border-radius: 2px;
      outline: none;

      transition: border 0.3s ease;
      &::placeholder {
        opacity: 0.5;
      }

      @include vp-1199 {
        min-height: 51px;
        width: 100%;
        padding: 13px 14px;
        padding-top: 16px;
      }

      @include vp-767 {
        min-height: 49px;
      }

      @include hover {
        border: 1px solid $color-accent;

        &::placeholder {
          color: $color-accent;
        }
      }

      @include focus {
        border: 1px solid $color-resolution-blue;
      }
    }
  }

  &__error {
    position: absolute;
    right: 0;
    bottom: 35px;

    color: $color-default-black;

    opacity: 0;

    transition: opacity 0.3s ease;

    @media screen and (max-width: 767px) {
      bottom: 20px;
    }
  }

  &.is-invalid {
    input,
    textarea {
      border: 1px solid $color-torch-red;

      @include hover-focus {
        border: 1px solid rgba($color-torch-red, 0.5);
      }
    }
  }

  &.is-valid {
    input {
      border: 1px solid $color-resolution-blue;

      &:focus,
      &:hover {
        border: 1px solid rgba($color-resolution-blue, 0.5);
      }
    }
  }

  .input-message {
    position: absolute;
    left: 0;
    bottom: -5px;

    &.is-invalid {
      color: $color-torch-red;
    }

    &.is-valid {
      color: $color-default-white;
    }

    @include vp-1199 {
      bottom: 0;
      font-size: 10px;
      line-height: 10px;
    }

    @include vp-767 {
      font-size: 8px;
      line-height: 8px;
    }
  }
}
