.hero {
  width: 100%;
}

.hero__slider-list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.hero__slider-img {
  width: 100%;
  height: 800px;

  @include vp-1199 {
    height: 1024px;
  }

  @include vp-767 {
    max-width: 768px;
    height: 1024px;
  }

  @include vp-349 {
    min-width: 320px;
    max-width: 350px;
    height: 568px;
  }

}

.hero__slider-img img {
  object-fit: cover;
  width: 100%;
  background-color: $color-bg-image;
  background-size: cover;
}
