.social-link {
  display: flex;
  width: 25px;
  height: 23px;
  justify-content: center;
  flex-wrap: wrap;
  align-content: center;
  color: $color-default-black;
  background-color: $color-default-white;
  border: 1px solid $color-default-black-30;
  cursor: pointer;
  transition: opacity $trans-default;

  &--footer {
    width: 30px;
    height: 30px;

    @include vp-1199 {
      width: 32px;
    }
  }

  @include hover-focus {
    color: $color-default-black;
    background-color: $color-default-white;
    border: 1px solid $color-default-black;
  }

  @include active {
    color: $color-default-white;
    background-color: $color-accent;
    border: 1px solid $color-accent;
  }

  @include disabled {
    border: 1px solid $color-default-black-30;

    svg {
      color: $color-default-black-30;
    }
  }
}

.social-link--footer-vk {
  svg {
    @include vp-767 {
      width: 16px;
      height: 10px;
    }
  }
}
