.training {
  padding-top: 22px;
  padding-bottom: 56px;

  @include vp-1199 {
    padding-top: 32px;
    padding-bottom: 20px;
  }

  @include vp-767 {
    padding-top: 0;
    padding-bottom: 20px;
  }
}

.training__container {
  max-width: 1200px;
  margin: 0 auto;
  width: 100%;
}

.training__title {
  margin-bottom: 31px;

  @include vp-1199 {
    margin-bottom: 20px;
  }

  @include vp-767 {
    margin-bottom: 16px;
    line-height: 22px;
    font-size: 22px;
  }
}

.training__header {
  margin-bottom: 61px;

  @include vp-1199 {
    margin-bottom: 30px;
  }

  @include vp-767 {
    margin-bottom: 29px;
  }
}

.training__header p {
  margin: 0;
  width: 73%;

  @include vp-1199 {
    width: 80%;
  }

  @include vp-767 {
    width: calc(100% - 10px);
    font-size: 14px;
    line-height: 20px;
  }
}

.training__slider-header {
  position: relative;
  display: flex;
  justify-content: space-between;
  width: 100%;
  min-height: 55px;
  margin-bottom: 17px;

  @include vp-1199 {
    margin-bottom: 27px;
  }

  @include vp-767 {
    margin-bottom: 22px;
  }
}

.training__slider-header h3 {
  margin: 0;
  align-self: flex-start;
  font-size: 21px;
  font-weight: 700;
  line-height: 21px;
}

.training__slider-buttons {
  display: flex;
  gap: 4px;
  align-items: flex-end;
  margin-bottom: 2px;

  @include vp-767 {
    margin-bottom: 3px;
  }
}

.training__list {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: space-between;
  margin-bottom: 38px;

  @include vp-1199 {
    margin-bottom: 8px;
  }

  @include vp-767 {
    margin-bottom: 9px;
  }
}


.training__item {
  min-height: 356px;
  width: 100%;
  height: revert;
  padding: 14px;
  padding-top: 15px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: flex-start;
  gap: 15px;
  border: 1px solid $color-accent-10;

  @include vp-767 {
    padding-left: 15vw;
    padding-right: 15vw;
    padding-top: 13px;
    gap: 16px;
  }

  @include vp-549 {
    padding-left: 10vw;
    padding-right: 10vw;
  }

  @include vp-449 {
    padding: 14px;
  }

  @include vp-349 {
    padding: 14px;
  }
}

.training__img {
  height: 200px;

  @include vp-767 {
    height: 300px;
  }

  @include vp-449 {
    height: 200px;
  }

  @include vp-349 {
    height: 200px;
  }
}

.training__img img {
  object-fit: cover;
  width: 100%;
  height: 100%;
  background-color: $color-bg-image;
  background-size: cover;
}

.training__name-container {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: space-between;
}

.training__name-container h4 {
  margin: 0;
  width: 100px;
  font-size: 14px;
  line-height: 16px;
}

.training__item p {
  margin: 0;
  font-size: 12px;
  line-height: 16px;
}

.training__social {
  display: flex;
  width: 25px;
  height: 23px;
  justify-content: center;
  flex-wrap: wrap;
  align-content: center;
  color: $color-default-black;
  background-color: $color-default-white;
  border: 1px solid $color-elefant-30;
  cursor: pointer;
  transition: opacity $trans-default;

  @include hover-focus {
    color: $color-default-black;
    background-color: $color-default-white;
    border: 1px solid $color-default-black;
  }

  @include active {
    color: $color-default-white;
    background-color: $color-accent;
    border: 1px solid $color-accent;
  }
}

.training__process-container h3 {
  margin-bottom: 29px;
  font-size: 21px;
  line-height: 21px;
  font-weight: 700;

  @include vp-1199 {
    margin-bottom: 43px;
    font-size: 18px;
    line-height: 18px;
  }

  @include vp-767 {
    margin-bottom: 25px;
    font-size: 16px;
    line-height: 16px;
  }
}

.training__process-list {
  position: relative;
  list-style: none;
  margin: 0;
  padding: 0;
  padding-bottom: 14px;
  width: 100%;
  display: grid;
  grid-template-columns: 253px 253px 253px 1fr;

  &::after {
    position: absolute;
    content: "";
    bottom: 4px;
    left: 10px;
    width: 100%;
    height: 1px;
    background-color: $color-accent-10;
    box-shadow: calc((100vw - 1200px)/2) 0 0 0 $color-accent-10;
  }

  @include vp-1199 {
    grid-template-columns: repeat(2, 343px);
    row-gap: 47px;
    padding: 0;

    &::after {
      display: none;
    }
  }

  @include vp-767 {
    width: 100%;
    grid-template-columns: 1fr;
    row-gap: 29px;
    padding: 0;

    // &::after {
    //   display: block;
    //   top: 15px;
    //   left: 7px;
    //   width: 1px;
    //   height: calc(100% - 30px);
    // }
  }
}

.training__process-item {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  margin-left: 10px;
  padding: 0;
  gap: 10px;

  &::after {
    position: absolute;
    content: "";
    bottom: -16px;
    left: 0;
    width: 14px;
    height: 14px;
    border-radius: 50%;
    background-color: $color-accent;
  }

  @include vp-1199 {
    gap: 10px;
    padding-bottom: 24px;

    //по-умолчаниювсе синие точки внизу
    &::after {
      bottom: -1px;
      left: 0;
    }
  }

  @include vp-767 {
    margin-left: 0;
    padding-bottom: 0;
    padding-top: 0;
    padding-left: 29px;
    align-items: center;
    gap: 14px;

    &::after {
      top: 50%;
      left: 0;
      transform: translateY(-50%);
    }

    svg {
      width: 21px;
      height: 21px;
      margin-top: -5px;
    }
  }
}

//синие точки сверху
.training__process-item--dot-top {
  @include vp-1199 {
    padding-bottom: 0;
    padding-top: 24px;

    &::after {
      position: absolute;
      content: "";
      top: -6px;
      left: 0;
      width: 14px;
      height: 14px;
      border-radius: 50%;
      background-color: $color-accent;
    }
  }

  @include vp-767 {
    padding-top: 0;

    &::after {
      top: 44%;
      left: 0;
      transform: translateY(-50%);
    }
  }
}

.training__process-item--mountain {
  @include vp-1199 {
    grid-column: 1/2;
    grid-row: 2/3;
  }

  @include vp-767 {
    grid-row: 4/5;
  }

  svg {
    @include vp-767 {
      margin-top: -12px;
    }
  }
}

.training__process-item p {
  margin: 0;
  margin-top: -3px;
  width: 198px;

  @include vp-1199 {
    font-size: 14px;
    line-height: 22px;
  }

  @include vp-767 {
    font-size: 12px;
    line-height: 18px;

    &::after {
      position: absolute;
      content: "";
      top: 0;
      left: 7px;
      width: 1px;
      height: calc(100% + 29px);
      background-color: $color-accent-10;
    }
  }
}

//полоска слева направо точка внизу
.training__process-item--right p {
  @include vp-1199 {
    &::after {
      position: absolute;
      content: "";
      bottom: 7px;
      left: 0;
      width: calc(100% + 17px);
      height: 1px;
      background-color: $color-accent-10;
    }
  }

  @include vp-767 {
    &::after {
      top: 50%;
      left: 7px;
      height: calc(50% + 29px);
      width: 1px;
    }
  }
}


//полоска слева направо точка наверху
.training__process-item--dot-top.training__process-item--right p {
  @include vp-1199 {
    &::after {
      top: 0;
    }
  }

  @include vp-767 {
    &::after {
      bottom: 50%;
      left: 7px;
      height: 50%;
      width: 1px;
    }
  }
}

.training__process-item--down p {
  @include vp-1199 {
    &::after {
      position: absolute;
      content: "";
      bottom: -41px;
      left: 7px;
      width: 1px;
      height: 50px;
      background-color: $color-accent-10;
    }
  }

  @include vp-767 {
    &::after {
      bottom: 0;
      height: calc(100% + 29px);
    }
  }
}

.training__process-item--tree {
  svg {
    @include vp-1199 {
      width: 24px;
      height: 22px;
    }

    @include vp-767 {
      width: 22px;
      height: 22px;
    }
  }
}
